*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 12px;
}
body {
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 1rem;
  color: #F6B17A;
  font-weight: bold;
  font-size: larger;
}
.contenedor {
    display: flex;
    flex-direction: column;
}
.contenedor header{
    font-size: 20px;
    padding: 10px;
    height: 55px;
    background-color: #2D3250;
}
.contenedor main {
    height: 100vh;
    background-color: #2D3250;
}
.contenedor-campos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 45rem;
}
.input-text textarea::placeholder { 
    color: #F6B17A; 
}
.input-text textarea{
    background-color: #2D3250;
    border: none;
    padding: 10px;
    outline: 0 none;
    height: 45rem;
    margin-bottom: 15px;
    width: 85rem;
    resize: none;
    font-size: larger;
    color: #F6B17A;
    /* margin-top: 10px; */
}
.out-text{
    background-color: #EEF5FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7.45rem;
    height: 54rem;
    width: 30rem;
    border-radius: 10px;
    -webkit-box-shadow: -1px 6px 20px 3px rgba(0,0,0,0.47);
    -moz-box-shadow: -1px 6px 20px 3px rgba(0,0,0,0.47);
    box-shadow: -1px 6px 20px 3px rgba(0,0,0,0.47);
}
.out-text p{
    color: #2D3250;
    font-size: larger;
    padding-top: 20px;
    padding: 15px;
    height: 48.55rem;
    width: 30rem;
    text-align: left;  
} 
.out-text button:hover{
    color: #2D3250;
    background-color: #EEF5FF;
    border-style: solid;
    border-color:#2D3250;
}
.out-text button{
    color: #2D3250;
    background-color: #F6B17A;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: #2D3250;
    font-size: 16px;
    font-weight: 100;
    height: 40px;
    width: 20rem;
}
.reglas{
    display: flex;
    align-content: space-between;
    font-size: 10px;
    /* margin-bottom: 3px; */
}

.contenedor span {
     font-size: 14px;
}

.bts{
    display: flex;
    width: 55rem;
    justify-content: space-evenly;
    margin-left: 25rem;
    margin-top: 1.29rem;    
}

.bts button:hover{
    color: #F6B17A;
    background-color: #2D3250;
    border-style: solid;
    border-color:white;
}
.bts button {
  background-color: #E9ECF8;
  border-radius: 20px;
  border-width: 2px;
  border-style: solid;
  border-color: #F6B17A;
  font-size: 16px;
  font-weight: 100;
  height: 40px;
  width: 20rem;
}

footer {
    padding: 10px;
    background-color: #2D3250;
    color: #fff;
  }
  @media(max-width: 1080px) {
    
.contenedor-campos{
display: flex;
flex-direction: column;
height: 50rem;
  }
  .input-text{
    padding: 0;
    height:20rem;
  }
  .input-text textarea{
    margin: 0px;
    width: 360px;
    height:20rem;
 }
 .out-text p{
    height: 25rem;
 }

 .out-text{
    margin-top: 0px;
    width: 360px;
    height: 30rem;
 }
 .bts{
    display: flex;
    align-items: center;
    
    flex-direction: column;
    width: auto;
    margin: 0;
}
 .bts button{
    margin-bottom: 10px;
 }
 .reglas {
    display: flex;
    align-content: center;
    font-size: 10px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
}
  }